/* selector { property: value;} */

* {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
body{
	background-color: #999;
}

#main_container {
	width: 650px;
	height: 650px;
	margin: 20px auto 0px;
	background-color: #fff;
	padding-top: 40px;
	background-image: url(images/background_a.gif);
	background-repeat: no-repeat;
	background-position: -170px 150px;
}

#a_container {
	width: 75px;
	height: 75px;
	float: left;
	margin-top: 60px;
	margin-left: 240px;


}
#text_container {
	width: 275px;
	height: 450px;
	float: left;
	margin-left: 15px;
	margin-right: 135px;
	
}
#alignment_container {
	width: 125px;
	height: 100px;
	float: left;
	margin-left: 100px;
}

h1 {
	font-family: georgia;
	font-size: 75px;
	line-height: 75px;
	font-weight: normal;

}

h2 {
	font-family: georgia;
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
	text-align: right;
	padding-top: 2px;
}

p {
	font-family: georgia;
	font-size: 15px;
	line-height: 26px;

}