/* selector { property: value;}*/


* {
	/*margin: 0;
	padding: 0; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*CLEARFIX HACK*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}


body {
	background-color: #E6E6E6;
	/*background-color: #2D3E50;*/
}

/*********************************
CUSTOM LAYOUT CODE
*********************************/


#main_container {
	width: 960px;
	height: 2480px;
	background-color: #fff;
	margin: auto;
	/*overflow: hidden; */
	position: relative;

}

#header {
	float: left;
	height: 628px;
	width: 960px;

}
/*---------left header--------*/

#left_header {
	float: left; 
	position: relative;

}

#header_image{
	position:absolute;
    left:0;
    top:0;
}

#recipe_name {
	z-index: 100;
	position: absolute;
}

	h1 {
	
		font-family: Bitter, serif;
		text-transform: uppercase;
		font-size: 60px;
		letter-spacing: 4px;
		text-align: left;
		margin-left: 25px;
		margin-top: 420px;
		opacity: .8;
		color: #fff;
	}

/*---------right header--------*/
#right_header {
	float: left;
	position: absolute;
	margin-left: 490px;
}

#search_container {

}



/*#logo_container {
	background-color: #CE5D75;
	width: 360px;
	height: 150px;
	opacity: .8;
}
	#logo {
		padding: 30px;
		padding-top: 80px;
	}

*/
#logo_container {
	background-color: #CE5D75;
	width: 470px;
	height: 200px;
	opacity: .8;
}
	#search_bar {
		padding-top: 30px;
		margin-left: 45px;
	}

	#logo {
		padding: 30px;
		padding-top: 55px;
		padding-left: 90px;

	}

#main_navigation_container {
	float: left;
	margin-left: 80px;
	margin-top: 20px;

}

	#main_navigation_list li{
		list-style: none;
		text-align: right;
		font-family: montserrat;
		line-height: 40px;
		font-size: 20px;

		
	}

/*#main_navigation_container {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}

	#main_navigation_list li{
		list-style: none;
		text-align: right;
		font-family: montserrat;
		line-height: 30px;
		
	}
*/



#section_elements_container {
	float: left;
	margin-top: 92px;
	position: absolute;
	margin-left: 345px;


}

	#big_dots {
		margin-left: 170px;
		margin-bottom: 25px;

	}
	#bar {
		margin-left: -100px;
		width: 350px;
		height: 10px;
		background-color: #6DBFB9;
		margin-top: -20px;
		margin-bottom: 15px;
	}
	/*.break {
		
	}*/
	#section_links_list {
		padding: 25px;
		padding-top: 40px;
		background-color: #6DBFB9;
		height: 407px;
		border-radius: 25px;


	}

	#section_links_list li {
		list-style: none;
		width: 200px;
		text-align: center;
		font-family: montserrat;
		line-height: 35px;



	}

/***************** LINKS ******************/


#main_navigation_list a{
		font-family: montserrat;
		text-decoration: none;
		color: #2D3E50;
		
}

#main_navigation_list a:hover{
		font-family: montserrat;
		text-decoration: none;
		color: #CE5D75;
		
}
#section_links_list a{
	font-family: montserrat;
	text-decoration: none;
	color: #F0F5DD ;

}

#section_links_list a:hover{
	font-family: montserrat;
	text-decoration: none;
	color: #2D3E50;
	/*color:  #CE5D75;*/

}

.youarehere_main {
	font-family: montserrat;
	text-decoration: none;
	color: #2D3E50;
}


ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}



/*---------content header--------*/

#content_container {
	float: left;
	width: 960px;


}

#left_content_container {
	float: left;

	width: 490px;
}

#left_content_container li{
	font-family: karla;
}

#main_text {
	padding: 10px;
}

.sub_background {
	/*background-color: #F2E7B1;*/
	width: 490px;
	/*padding: 10px;*/
	padding-left: 30px;
	padding-right: 20px;
	margin-top: 20px;
	padding-bottom: 10px;
	/*opacity: .8;*/
}
p.subtitle {
	color: #2D3E50;
	font-style: italic;
	font-size: 17px;
	word-spacing: 1px;
	line-height: 24px;
}

.yield_background {
	background-color: #F2E7B1;
	opacity: .6;
}

p.yields {
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

#right_content_container {
	float: left;
	/*margin: 40px;*/
	width: 390px;
	margin-left: 50px;
	margin-top: 200px;

}

#pic_container {
	margin-left: 100px;
	padding-bottom: -20px;
}

#story_container {
	background-color:  #CE5D75;
	padding: 30px;
	opacity: .8;
}
#story_header{
	color: #CE5D75;
	opacity: .8;
	margin-bottom: -58px;
	font-size: 36px;
	text-transform: uppercase;
	margin-left: 20px;
}

h2 {
	font-family: montserrat;
}
p.storytext {
	margin-bottom: 10px;
	font-family: karla;
	color: #fff;

}
/*#instructions_container {
	float: left;
	margin-top: 40px;
	margin-left: 15px;
}

	#instructions_container h2{
		padding: 0;
		margin: 0;
	
}
	#instructions_container div{
		margin-left: 30px;
	}
	#instructions_container p{
	list-style-type: none;
	
}*/
	/*#numbers {
		margin-top: 0;
		float: left;
		margin-right: 10px;
		margin-left: 10px;
	}
		p.numberstyle {
			font-family: montserrat;
			font-size: 20px;
			padding: 4px;
			line-height: 45px;
			margin-bottom: 4px;
			color: #2D3E50;
			
		}*/

		#numbers {
		margin-top: 0;
		float: left;
		margin-right: 10px;
		margin-left: 10px;
		padding-top: 10px;
	}
		p.numberstyle {
			font-family: montserrat;
			font-size: 20px;
			padding-right: 10px;
			padding-bottom: 2px;
			line-height: 45px;
			margin-bottom: 4px;
			color: #6DBFB9;

		}

	/*********************************
		CUSTOM CODE FOR STRAWBERRY LEMONADE
		*********************************/
		/*#method_1 {
			float: left;
		}
			#method_1 li {
				padding-bottom: 30px;
			}

		#method_2 {
			float: left;
		}*/

		/*#ingredients_list {
			padding: 30px;
		}
		#ingredients_list li{
			list-style: disc;
		}*/

#main_text {

	padding: 10px;
	margin-left: 30px;
}
		#ingredients_container {
			/*padding: 30px;*/
			padding-left: 30px;
			margin-left: -25px;
		}
		
		#ingredients_container li{
			list-style: disc;
			word-spacing: 1px;
			padding: 10px;
			padding-left: 30px;
			opacity: .8;
		}


	/*#instructions_container {
		float: left;
		
		width: 300px;
	}
		#instructions_container li{
		padding: 5px;
		margin-top: 30px;
		margin-bottom: 5px;
	}*/
	#instructions_container {
		margin-left: 15px;
		float: left;
		
		/* width: 350px;*/
	}
		#instructions_container li{
		padding-bottom: 30px;
		opacity: .8;
	}
#instructions_container {
	margin-top: 45px;
	margin-left: 5px;
}

	#instructions_container h2{
		margin-bottom: -12px;
		margin-left: 0px;
		/*padding: 0;
		margin: 0;*/
	
}
	/*#instructions_container div{
		margin-left: 30px;
	}*/
	#instructions_container p{
	list-style-type: none;}

#instructions_list {
	padding-top: 40px;
	width: 420px;
}

#notes_container {
	float: left;
}


p {
	font-family: karla;
	word-spacing: 1px;
	line-height: 22px;
}

p.per_serving {
	margin-top: 40px;
	font-family: montserrat;
	word-spacing: 1px;
	line-height: 22px;
	opacity: .8;
	font-size: 18px;
	color: #2D3E50;
}
#per_serving li {
	margin-top: -5px;
	color: #2D3E50;
	color: black;
}
h2 {
	font-family: montserrat;
	color: #CE5D75;
	letter-spacing: 2px;
}
p.notes_type {
	font-family: karla;
	word-spacing: 1px;
	line-height: 22px;
	opacity: .8;
}

/****FOOTER************************/

#box {
	float: left;

	background-color: #fff;
}
#footer_info {
	float: left;
	padding: 32px;
	width: 960px;
	padding-left: 147px;
	font-family: karla;
	font-size: 16px;
	letter-spacing: 1px;
	opacity: .9;

}
	#footer_info a{
		color: #6DBFB9;
		text-decoration: none;
		
}
	#footer_info a:hover{
		color:  #CE5D75;
	/*#2D3E50;*/
	text-decoration: none;
		
}

	#hello_container {
		float: left;
	}

	#friends_container{
		float: left;
	}

	#corporate_container {
		float: left;
	}

#social_media {
	margin-left: -5px;
}
.footer_info_text {
	padding: 30px;
	width: 200px;
	text-align: center;
}
.footer_divider {
background-color: #2D3E50;
	width: 3px;
	height: 60px;
	float: left;
	border-radius: 3px;
	opacity: .5;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
#big_dots_footer {
	float: left;
	width: 960px;
	padding-bottom: 40px;
 	padding-left: 435px;
 	margin-top: -30px;
 	margin-bottom: -10px;
 	opacity: .7;
}

#footer_links {
	float: left;
	padding-left: 95px;
}

	#footer_links li{
	list-style: none;
	display: inline;
	font-family: montserrat;
	font-size: 14px;
	padding: 10px;
}

	#footer_links a{
		color: #6DBFB9;
		text-decoration: none;
		
}
	#footer_links a:hover{
		color:  #CE5D75;
	/*#2D3E50;*/
	text-decoration: none;
		
}