/* Lesson 7: Film Series (vertical spacing); */

* {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* CLEARFIX HACK*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* CUSTOM CODE BELOW*/

body {
	background-color: #999;
}

#main_container	{
	width: 990px;
	height: auto;
	margin: 20px auto 40px;
	background-color: #fff;
	padding: 30px;
}

.film_list_container {
	outline: 1px dotted pink;
	width: 400px;
	float: left;
	height: auto;
	margin-left: 30px;
}

#semester_1 {
	margin-left: 60px;
}

#header {
	margin-bottom: 90px;
}

h1, h2, h3, h4, p {
	font-family: georgia;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 6px;
}


h2 {
	/*margin-bottom: 60px;*/
} 

h3 {
	margin-top: 64px;
}

h4 {
	margin-top: 32px;
}

p {
	margin: 12px 0px;
}

p.date {
	margin: 0px;
}